body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10%;
}

.pokemon {
    flex-basis: 15%;
    margin: 10px;
    background-color: #f2f2f2;
}

.pokemon-id {
    font-size: 30px;
    margin: 0 auto;
}

.pokemon-name {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.pokemon-stats {
    display: flex;
    font-size: 20px;
    visibility: hidden;
}

